.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding: 17px 24px;
  min-height: 54px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  transition:
    transform 0.25s var(--ease),
    background 0.25s;
}
.button-primary {
  color: var(--background);
  background: var(--accent);
}
.button-primary:hover:not(:disabled) {
  background: var(--accent-hover);
  transform: translateY(-3px);
}
.button-primary:active:not(:disabled) {
  transform: translateY(0) scale(0.98);
}
.button-primary span {
  font-size: 20px;
  font-weight: 400;
}
.text-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 600;
  padding-block: 10px;
}
.text-link:hover {
  color: var(--accent);
}
.text-link span {
  transition: transform 0.2s;
}
.text-link:hover span {
  transform: translate(2px, -2px);
}
.social-links {
  display: flex;
  align-items: center;
  gap: 25px;
}
.social-links a {
  padding-block: 10px;
  font-size: 12px;
  font-weight: 600;
}
.social-links a:hover {
  color: var(--accent);
}
.social-links span {
  margin-left: 5px;
}
@media (max-width: 900px) {
  .button {
    padding: 15px 20px;
    gap: 18px;
  }
}
@media (max-width: 680px) {
  .social-links a {
    font-size: 10px;
  }
}
